@font-face {
  font-family: 'pixel_operatorregular';
  src: url('/fonts/pixeloperator-webfont.woff2') format('woff2'),
       url('/fonts/pixeloperator-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
    font-family: pixel_operatorregular;
    color: #242526;
    font-size: 16px;
    line-height: 11px;
  }

h1 {
    font-size: 12px;
    font-weight: 600;
  }

p {

  }

.Orange {
color: coral;
  }